@model List<pathak.Models.employee>
@{
    ViewBag.Title = "Index";
    int sn = 0;
}
<style>
    .gh {
        background-color: #3090C7;
        width: 40%;
    }
</style>
<a href="@Url.Action("esdcreate", "emp_salary_details")">Create Emp Salary Details</a>

<h2>Index</h2>

<table border="1" class="gh">
    <tr>
        <th>SN</th>
        <th>id</th>
        <th>Name</th>
        <th>Address</th>
        <th>contact</th>
        <th>Action</th>

    </tr>
     @foreach(var data in Model)
     {
    <tr>
        <td>@(++sn)</td>
        <td>@(data.id)</td>
        <td>@(data.name)</td>
        <td>@(data.address)</td>
        <td>@(data.contact)</td>
        <td><a href="@Url.Action("Edit",new {id=data.id })">Edit</a></td>
    </tr>
     }
</table><br>
<button class="btn btn-primary"><a href="@Url.Action("Create")" style="color:white;">Add Record</a></button>