@model List<pathak.Models.employee>
@{
    ViewBag.Title = "Index";
    int sn = 0;
}
<style>
    .gh{
        background-color: red;
        width:20%;
    }
</style>

<h2>Index</h2>

<table border="1" class="gh">
    <tr>
        <th>SN</th>
        <th>id</th>
        <th>Name</th>
        <th>Address</th>
        <th>contact</th>

    </tr>
     @foreach(var data in Model)
     {
    <tr>
        <td>@(++sn)</td>
        <td>@(data.id)</td>
        <td>@(data.name)</td>
        <td>@(data.address)</td>
        <td>@(data.contact)</td>
    </tr>
     }
</table>